*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --light-red-CTA-text: hsl(356, 100%, 66%);
  --very-light-red-CTA-over-background: hsl(355, 100%, 74%);
  --very-dark-blue-headings: hsl(208, 49%, 24%);
  --white-text: hsl(0, 0%, 100%);
  --grayish-blue-footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
  /* font-size */
  --font-size: 62.5%;
  --font-family-overpass: "Overpass", sans-serif;
  --font-family-ubuntu: "Ubuntu", sans-serif;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: "Overpass", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

/* reseteos */

img {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

/* header */

.header {
  width: 100%;
  background-image: url(/images/bg-pattern-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: top -35rem right -47rem;
  background-color: var(--light-red-CTA-text);
  border-bottom-left-radius: 8rem;
  padding: 4rem 2rem 10rem 2rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__header {
  color: var(--white-text);
  font-size: 3.7rem;
  text-align: center;
  font-family: var(--font-family-overpass);
  font-weight: 600;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.copy__header {
  color: var(--white-text);
  font-weight: 300;
  font-family: var(--font-family-overpass);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.button {
  font-family: var(--font-family-ubuntu);
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--white-text);
  color: var(--light-red-CTA-text);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.box__button {
  width: 100%;
  text-align: center;
}

.button-orange {
  margin-left: 1rem;
  border: 1px solid white;
  color: var(--white-text);
  background-color: transparent;
  padding: 1rem 2rem;
}

.box__title__main {
  width: 100%;
  padding-top: 7rem;
}

.title__main {
  text-align: center;
  font-size: 2.5rem;
  color: var(--very-dark-gray-blue);
  font-family: var(--font-family-overpass);
  font-weight: 700;
  max-width: 77%;
  margin: 0 auto;
}

.box__illustration__main {
  width: 100%;
 padding: 5rem 0 5rem 0;
}

.illustration__mobile {
  margin: 0 auto;
}

.copy__main {
  
}